package main

import (
	"log"
	"os"
	"strings"

	"github.com/Masterminds/sprig/v3"

	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/fiber/v2/middleware/logger"
	"github.com/gofiber/template/html/v2"
	"github.com/joho/godotenv"

	"{{projectName}}/internals/handlers"
)

func init() {
	log.SetFlags(log.LstdFlags | log.Lshortfile)
	log.SetPrefix("{{projectName}}: ")
	log.SetOutput(os.Stdout)

	env := strings.ToLower(strings.TrimSpace(os.Getenv("ENV")))
	log.Println("ENV: ", env)
	if env == "dev" || env == "development" {
		log.Println("Loading .env file")
		err := godotenv.Load()
		if err != nil {
			log.Fatalf("Error loading .env file: %v", err)
		}
	}
}

func main() {

	// Initialize template engine
	engine := html.New("./views", ".html")

	engine.AddFuncMap(sprig.FuncMap())

	engine.Debug(true)
	// Create app
	app := fiber.New(fiber.Config{
		Views:       engine,
		ViewsLayout: "layouts/base",
	})

	// add a middleware to log the request
	app.Use(logger.New())

	// Static files
	app.Static("/assets", "./assets/dist")

	// Theme toggle route
	app.Post("/theme/toggle", handlers.ToggleTheme)
	app.Get("/stack-preview", handlers.GetStackPreview)

	// Auth routes (no middleware)

	app.Get("/", handlers.GetIndex)

	port := strings.TrimSpace(os.Getenv("PORT"))
	if port == "" {
		port = "3000"
	}

	// Start server
	log.Fatal(app.Listen(":" + port))
}
